@using PersonnelManageSystem.Utils
@model PersonnelManageSystem.Models.ReturnResult

@{
    Layout = "_Layout";
    var staff = @Model?.Data as Staff;
    var Code = @Model?.Code;
}
<div class="main">
    
    <h1> 欢迎 管理员
        @staff?.Name
    </h1>
</div>
@if (Model.Code == StatusCode.InValidUserInfo)
{<script>
    alert("认证信息发生改变")
    $(location).attr('href','/User/Login')
</script>
}
