@using PersonnelManageSystem.Utils
@model PersonnelManageSystem.Models.ReturnResult

@{
    Layout = "_Layout";
    var staff = @Model?.Data as Staff;
    var Code = @Model?.Code;
}
<div class="main">
    
    <h1> 欢迎
        @switch (staff?.Post)
        {
            case Role.Boss:
                <p>boss</p>
                break;
            case Role.Developer:
                <p>开发者</p>
                break;
            case Role.Manager:
                <P>管理员</P>
                break;
        }
        @staff?.Name
    </h1>
</div>
